<!-- <div class="email-confirm">
  <app-topbar
    [hideMenuAtion]="true"
    title="confirmar email"
  ></app-topbar>

  <div class="has-padding-20 text-center">
    <app-intersitial *ngIf="loading"></app-intersitial>
    <h1 class="heading-1 mb-medium">Documentos enviados</h1>
    <br>
    <img src="assets/images/funnel/phone.png" class="img-phone" alt="send email">

    <p>
      Hemos enviado un mensaje al whatsapp del cliente.
    </p>

    <p>
      <small>  <strong class="text-green-100">Puedes verificar si ya fue confirmado</strong></small>
    </p>

    <div class="has-margin-top-30">
      <button class="btn btn-success"  (click)="sendVerificar()">VERIFICAR</button>
      <br><br>
      <button class="btn btn-success"  routerLink="/funnel/initial-query">Cancelar</button>
    </div>

  </div>
</div> -->

<div class="container-cmp">
  <app-topbar [hideMenuAtion]="true"></app-topbar>
  <app-intersitial *ngIf="loading"></app-intersitial>
  <div class="main-container">
    <div class="wrapper">
      <h1 class="heading-1">
        Firma del Contrato de Crédito
      </h1>
    </div>


    <div class="contenido">
      <mat-icon style="color:#50d550 ;font-size: 53px;">whatsapp</mat-icon>
      <p class="big-p mb-medium">
        Hemos enviado el Contrato de Crédito al <b class="inner-text"> WhatsApp</b>  del cliente, por favor verifica que fue confirmado.
      </p>
     
    </div>
    <div class="actions">
      <button class="btn-orange"  (click)="sendVerificar()">Verificar</button>
      <br><br>
      <button class="btn-outline"  routerLink="/funnel/initial-query">Cancelar</button>
      <br>
      <app-btn-chat></app-btn-chat>
    </div>
  </div>
</div>