<div class="biometric-success bg-dark text-white text-center min-height-100 has-padding-20 is-relative flex-column justify-center align-items-center">
  <h4 class="text-green-100 text-center">¡Hemos finalizado!</h4>

  <img src="assets/images/funnel/contract.png" alt="biometrico" class="has-margin-40" width="120" />

  <div class="text-center">
    <strong class="text-white">
      Ahora sólo debes descargar los documentos para su firma y posterior radicación.
    </strong>
  </div>

  <div class="text-center has-margin-top-40">
    <button class="btn btn-success" routerLink="/funnel/documents"> Continuar</button>
  </div>
</div>
