//$color-green-100: #46DB9E;
//$color-green-100: #0A2245;
$color-green-100: #000;
//$color-green: $color-green-100;
//$color-green: #0A2245;
$color-green: #164C4F;
$color-red: #DB2A4C;
$color-orange: #FD8524;
$color-blue: #1273B8;
$color-blue-100: #1A85C6;
$color-dark: #131A27;
$color-dark-40: #7D8491;
$color-dark-60: #bec5d2;
$color-dark-80: #515B6C;
$color-dark-90: #C2C9D3;
$color-gray-100: rgba(194, 201, 211, 0.35);
$color-gray-60: #A8ADB5;
$color-gray: #263247;
$color-black: #000000;
$color-link: #3a3a3a;
$color-black-100: #030E1D;
$color-black-300: #0A2245;
$color-black-500: #0A6AA5;
$color-white: #ffffff;
$color-white-20: rgba(212, 214, 218, 0.35);
$background-dark: #263247;
$color-hover-sidebar-menu: #0A2245;
$color-dark-100: #0E2B55;


// Theme variables
$header-background: #FF7E00;
$gradient-background: linear-gradient(0deg, rgba(160,159,148,1) 10%, rgba(230,230,230,1) 100%);

$color-black: #000;
$color-white: #fff;
$color-grey: rgb(58, 58, 58);
$color-grey-light: #808080;
$color-grey-light2: #F1F1F1;

$content-padding: 2.5rem 4rem;
$days-modal-content-padding: 2.2rem 2.5rem;
