<div class="biometric-success bg-dark text-white text-center min-height-100 has-padding-20 is-relative flex-column justify-center align-items-center">
  <h4 class="text-green-100 text-center">¡Validación biométrica exitosa!</h4>

  <img src="assets/images/funnel/recognition.png" alt="biometrico" class="has-margin-40" width="120" />

  <div class="text-center">
    <strong class="text-white">
<!--      Ahora validaremos tu correo y el número de contacto que ingresaste en la solicitud.-->
      Pulsa <strong class="text-green-100"> Continuar</strong> para avanzar con el proceso.
    </strong>
  </div>

  <div class="text-center has-margin-top-40">
    <button class="btn btn-success" (click)="next()"> Continuar</button>
  </div>
</div>
