<div class="loan-presentation">
  <app-topbar
    title="Crédito"
  ></app-topbar>

  <div>
    <img src="assets/images/funnel/loan-presentation.jpg" alt="loan presentation" width="100%">
  </div>

  <div>
    <mat-tab-group>
      <mat-tab label="Beneficios">
        <div class="has-padding-20">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores atque deserunt dolor enim fuga illo
          ipsa molestiae molestias qui recusandae tenetur, totam. Architecto cumque, dicta eum magnam quae reiciendis!
        </div>
      </mat-tab>
      <mat-tab label="Características">
        <div class="has-padding-20">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores atque deserunt dolor enim fuga illo
          ipsa molestiae molestias qui recusandae tenetur, totam. Architecto cumque, dicta eum magnam quae reiciendis!
        </div>
      </mat-tab>
      <mat-tab label="Costos">
        <div class="has-padding-20">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores atque deserunt dolor enim fuga illo
          ipsa molestiae molestias qui recusandae tenetur, totam. Architecto cumque, dicta eum magnam quae reiciendis!
        </div>
      </mat-tab>
      <mat-tab label="Requisitos">
        <div class="has-padding-20">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores atque deserunt dolor enim fuga illo
          ipsa molestiae molestias qui recusandae tenetur, totam. Architecto cumque, dicta eum magnam quae reiciendis!
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="has-margin-top-20 has-padding-20 text-center">
    <button class="btn btn-success has-margin-auto" routerLink="/funnel/biometric/first">Solicitar crédito</button>
  </div>
</div>
