<div class="container-cmp">
    <app-topbar [hideMenuAtion]="true"></app-topbar>
    <div class="main-container">
        <div class="wrapper">
            <h1 class="heading-1 mb-small">
                Bienvenido al menu
            </h1>
            <br>

            <p class="big-p">
                <b> {{userName}} </b>
            </p>
            <p  class="big-p">
               Puedes:
            </p>
        </div>
        <div class="wrapper">
            <button class="btn-orange is-full" routerLink="/menu/enroll"> Enrolar asesores</button>
            <br />
            <br />
            <button class="btn-orange is-full" routerLink="/menu/report-fga">Reporte fga</button>
            <br />
            <br />
            <button class="btn-orange is-full" routerLink="/funnel/initial-query"> Iniciar proceso</button>
            <br />
            <br />
  
        </div>
        <div class="">
         

        </div>
    </div>
</div>