<div class="pre-biometric bg-dark text-white text-center min-height-100 has-padding-20 is-relative flex-column justify-center align-items-center">
  <h4 class="text-green-100 text-center">Tus datos se guardaron correctamente.</h4>

  <img src="assets/images/funnel/biometric.png" alt="biometrico" class="has-margin-40" width="120" />

  <div class="text-center">
    <strong class="text-white">
      Para  Continuar con tu solicitud es necesario verificar tu identidad. Pulsa <strong class="text-green-100">" Continuar"</strong> para avanzar en el proceso
    </strong>
  </div>

  <div class="text-center has-margin-top-40">
    <button class="btn btn-success" routerLink="/funnel/biometric"> Continuar</button>
  </div>
</div>
