<div class="signup text-center has-padding-top-50">
  <div class="overlay"></div>

  <div class="zi-2 signup-bg">
    <div *ngIf="type === 'validate'">
      <div [ngStyle]="{'background':  ' url('+dataImg?.iconFrontLogin+') '}" style="width: 100px;height: 100px;margin-left: 33%;"></div>
      <h3>Activar usuario</h3>
      <p>
        A continuación ingrese los datos de usuario y contraseña que enviamos a su correo
      </p>
    </div>

    <div *ngIf="!type" style="text-align: center;">
<!--      <div [ngStyle]="{'background': ' url(/assets/images/sign/logo.svg)'}" style="width: 100px;height: 100px;margin-left: 33%;"></div>-->
      <!-- <img [ngStyle]="{'background':  ' url('+dataImg?.iconFrontLogin+') '}" alt="" /> -->
      <h3 class="text-white has-margin-top-10">Registro</h3>
      <p class="text-white">
        Por favor, ingrese los datos de usuario y contraseña para registrarse.
      </p>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="login()" id="login-form" class="bg-white has-padding-20 radius-12">
      <div class="d-flex flex-column">
        <mat-form-field class="form-input">
          <input matInput placeholder="Usuario" formControlName="email">
          <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
            El correo no es válido
          </mat-error>
          <mat-error *ngIf="f.email.hasError('required')">
            El correo es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [placeholder]="type ? 'Contraseña temporal' : 'Contraseña'" formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="f.password.hasError('minlength') && !f.password.hasError('required')">
            La contraseña debe contener al menos 6 caracteres
          </mat-error>
          <mat-error *ngIf="f.password.hasError('required')">
            La contraseña es requerida
          </mat-error>
        </mat-form-field>

        <mat-error *ngIf="error" class="has-margin-top-5 has-margin-bottom-25">
          {{mensaje}}
        </mat-error>

        <!--      <img *ngIf="loading" src="assets/img/loading.gif" style="width:30px;" />-->
      </div>

      <div class="text-center">
        <button class="btn btn-success" *ngIf="!submitted" [disabled]="!signupForm.valid">{{!type ? 'Iniciar sesión' : 'Activar usuario'}}</button>
        <button class="btn btn-success" *ngIf="submitted" [disabled]="!signupForm.valid"><i *ngIf="submitted" class="fa fa-spinner fa-spin text-white"></i></button>
      </div>

      <div class="btn btn-link text-center has-cursor-pointer has-margin-top-15 mx-auto" (click)="goForget()"><u>Olvidé mi contraseña</u></div>
    </form>
  </div>

  <nav class="bottom-nav">
    <a class="bottom-nav__destination" href="#">
      <mat-icon>attach_email</mat-icon>
      <span class="bottom-nav__label text-white">Contáctanos</span>
    </a>

    <a class="bottom-nav__destination" href="#">
      <mat-icon>category</mat-icon>
      <span class="bottom-nav__label text-white">Productos</span>
    </a>

    <a class="bottom-nav__destination bottom-nav__destination--active" routerLink="/sign/signup">
      <mat-icon>how_to_reg</mat-icon>
      <span class="bottom-nav__label text-white">Regístrate</span>
    </a>
  </nav>
</div>

