<section>
    <h3 class="heading-2 mb-small-odd">
        Ingrese los datos de la nueva cuenta
    </h3>
    <app-intersitial *ngIf="loading"></app-intersitial>
    <form [formGroup]="additionalDataForm"   >
        <div>
          <label class="text-left label-small">Tipo de cuenta*</label>
          <mat-form-field style="width: 100%;">
            <mat-select formControlName="IdTipoBanco">
              <mat-option *ngFor="let option of tipoBanco" [value]="option.Id">{{option.Descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <label class="text-left label-small">Banco Asociado*</label>
          <mat-form-field style="width: 100%;">
            <mat-select formControlName="IdBanco">
              <mat-option *ngFor="let option of listaBancos" [value]="option.Id">{{option.Descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <label class="text-left label-small">Número de cuenta*</label>
          <mat-form-field style="width: 100%;">
            <input class="border-input" matInput ng-minlength=10 ng-maxlength=11 formControlName="NumeroCuenta" type="number" (keypress)="allowNumbersfilter($event)" autocomplete="off">
          </mat-form-field>
        </div>
        <label class="text-left label-small text-high">Recuerde confirmar el numero de cuenta antes de continuar.</label>
        <div class="has-margin-top-20 text-center actions">
          <button *ngIf="!loading" class="btn-orange  " type="submit" (click)="sendDataPop();" [disabled]="!additionalDataForm.valid">Continuar</button>
          <br>
          <br>
          <button *ngIf="!loading" class="btn-outline" (click)="cancelarPop()"> Cancelar</button>
        </div>
      </form>

</section>