<div class="container-cmp">
    <app-topbar [hideMenuAtion]="true"></app-topbar>
     <div class="main-container">
      <div class="wrapper">
        <h1 class="heading-1 mb-small">
          Registro facial diario
        </h1>
        <br>
        <img class="icon-img-wide" src="../assets/icons/facial-validation.svg" alt="reject">
      </div>
      <div class="wrapper">
        <p class="big-p">
          <b>A continuación ingrese su registro facial diario para continuar.</b>
        </p>
      </div>
      <div class="actions">
        <button  class="btn-orange" routerLink="/menu/daily-face-validator" > Continuar</button>
         <br />
        <br />
 
      </div>
    </div>
  </div>
