<div class="biometric-success bg-dark text-white text-center min-height-100 has-padding-20 is-relative flex-column justify-center align-items-center">
  <h4 class="text-green-100 text-center">¡Hemos finalizado!</h4>

  <img src="assets/images/funnel/excellence.png" alt="biometrico" class="has-margin-40" width="120" />

  <div class="text-center">
    <strong class="text-white">
      Tu crédito ha sido activado y la compra se ha formalizado correctamente.
    </strong>

    <h4 class="text-green-100 has-margin-top-30">¡Sigue disfrutando tu crédito!</h4>
  </div>

  <div class="has-margin-top-30 text-center">
    <button class="btn btn-success mx-auto my-2" (click)="finishFlow()">Ir al inicio</button>
    <br /><br />
    <a href="https://api.whatsapp.com/send?phone=573203290127&text=Hola,%20tengo%20dudas%20sobre%20mi%20proceso" target="_blank" rel="noopener noreferrer" class="text-green-100">¿Tienes dudas?</a>
  </div>
</div>
