<div class="otp-success bg-dark text-white text-center min-height-100 has-padding-20 is-relative flex-column justify-center align-items-center">
<!--  <h4 class="text-green-100 text-center">Tus datos de contacto se validaron correctamente.</h4>-->
  <h4 class="text-green-100 text-center">Tus datos se validaron correctamente.</h4>

  <img src="assets/images/funnel/tick.png" alt="biometrico" class="has-margin-40" width="120" />

  <div class="text-center">
    <strong class="text-white">
<!--      Hemos finalizado con la validación de identidad. Pulsa <strong class="text-green-100">" Continuar"</strong> para avanzar con la solicitud.-->
      Hemos finalizado con la validación. Pulsa <strong class="text-green-100">" Continuar"</strong> para avanzar con la solicitud.
    </strong>
  </div>

  <div class="text-center has-margin-top-40">
    <button class="btn btn-success" routerLink="/funnel/authorization"> Continuar</button>
  </div>
</div>
